.cards {
  display: grid;
  justify-content: center;
  margin: 42.5px auto 0;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 17px;
  grid-auto-flow: dense;
  max-width: 880px;
}

@media screen and (max-width: 560px) {
  .cards {
    margin-top: 36px;
    max-width: 244px;
  }
}
