.copyright {
  width: 90%;
  max-width: 880px;
  color: #545454;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto 0;
}
