@media screen and (min-width: 560px) {
  .header {
    width: 100%;
    max-width: 880px;
    height: 74px;
    border-bottom: 1px solid #545454;
    margin: 45px auto 0px;
    padding: 0;
  }
}

@media screen and (max-width: 560px) {
  .header {
    width: 90%;
    height: 74px;
    border-bottom: 1px solid #545454;
    margin: 45px auto 0px;
    padding: 0 0 0 40px;
  }
}

.page {
  color: white;
}

.content {
  margin: 40px auto;
}
