.header {
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  margin: 45px auto 0px;
  max-width: 880px;
  padding: 0;
}

.header__title {
  margin: 0 0 41px;
}

@media screen and (max-width: 560px) {
  .header {
    padding: 0 0 0 40px;
    margin: 45px auto 0;
  }
}
