.preview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  /* visibility: hidden; */
}

.preview__image {
  position: relative;
  display: flex;
  max-width: 75vw;
  max-height: 75vh;
  margin: none;
  padding: none;
}

.preview__container {
  position: relative;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  max-width: 75vw;
  max-height: 75vh;
}

.preview__close {
  display: block;
  position: absolute;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  background-image: url(../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: block;
  margin: 5px;
  bottom: calc(100%);
  left: calc(100%);
}

.preview__title {
  margin: 10px 0 0 0;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 12px;
  height: 12px;
}

.preview__opened {
  display: flex;
}

@media screen and (max-width: 450px) {
  .preview__close {
    width: 30px;
    height: 30px;
  }
}
