@media screen and (min-width: 560px) {
  .profile {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 880px;
    margin: 0 auto;
  }

  .profile__info {
    margin: 0 0 0 30px;
    width: 417px;
    height: 77px;
  }

  .profile__info-name {
    font-size: 42px;
    font-family: "Inter";
    font-weight: 500;
    line-height: 48px;
    margin: 22px 0 0;
    font-style: normal;
  }

  .profile__info-description {
    margin: 7px 0 21px;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
  }

  .profile__button-add {
    align-self: center;
    width: 150px;
    height: 50px;
    margin: 0 1px 0 auto;
    background-image: url(../images/Add\ Button.svg);
    border: 2px;
  }
}

@media screen and (max-width: 560px) {
  .profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 880px;
    margin: 0 auto;
  }

  .profile__info-name {
    font-size: 24px;
    font-family: "Inter";
    font-weight: 300;
    line-height: 24px;
    margin: 22px 0 0;
    font-style: normal;
    text-align: center;
  }

  .profile__info {
    height: 116px;
  }

  .profile__info-description {
    margin: 7px 0 21px;
    font-size: 18px;
    font-family: Inter;
    font-weight: 300;
    text-align: center;
  }

  .profile__avatar {
    align-self: center;
  }

  .profile__button-add {
    align-self: center;
    width: 282px;
    height: 50px;
    background-image: url(../images/Add\ Button.svg);
    border: 2px;
    background-repeat: no-repeat;
    margin: 20px 0 0;
  }
}

.profile__button-edit {
  background-image: url(../images/Edit\ Button.svg);
  margin: 15px 0 9px 18px;
  width: 24px;
  height: 24px;
  border: 1px;
  border-color: white;
  background-color: black;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

.profile__button-add:hover {
  opacity: 0.6;
}

.profile__avatar {
  width: 120px;
  height: 120px;
}
